    <div class="footer">
        <center>
            <div>
                <img src="http://localhost:3333/files/placeholder.png" alt="svg" />
                <span>R. Rio Grande do Sul, 863 - Espírito Santo, Betim - MG, 32671-686</span>
            </div>

            <div>
                <img src="http://localhost:3333/files/phone.png" alt="svg" />
                <span>(31) 98821-9096</span>
            </div>
        </center>
    </div>
</div>
