<div class="message">
    <p>Olá, {{responsibleName}}!</p>
    <p>
        Sua solicitação de matrícula não foi aprovada,
        entre em contato conosco para que possamos discutir
        os detalhes!
    </p>
    <p>
        Atenciosamente,
        <br />
        Equipe Santiago.
    </p>
</div>
