<div class="regards">
    <h1>
        Sejam bem-vindos!
    </h1>
    <strong>
        Nós estamos felizes por contarem conosco nesse
        importante processo de aprendizagem!
    </strong>
</div>

<div class="message">
    <p>Olá, {{responsibleName}}!</p>
    <p>
        Sua solicitação de matrícula foi aprovada, retornaremos
        em breve com as instruções para prosseguirmos!
    </p>
    <p>
        Atenciosamente,
        <br />
        Equipe Santiago.
    </p>
</div>
