<div class="regards">
    <h1>
        Obrigado!
    </h1>
    <strong>
        Nós estamos felizes por contarem conosco nesse
        importante processo de aprendizagem!
    </strong>
</div>

<div class="message">
    <p>Olá, {{responsibleName}}!</p>
    <p>
        Nós recebemos a sua solicitação de matrícula,
        agora iremos analisar os dados e retornaremos
        em breve com as instruções para prosseguirmos!
    </p>
    <p>
        Atenciosamente,
        <br />
        Equipe Santiago.
    </p>
</div>
