<div class="message">
    <p>Olá, {{responsibleName}}!</p>
    <p>
        Sua solicitação de matrícula apresentou algumas inconsistências.
        Para que possamos resolver estes detalhes e darmos continuidade
        ao processo, solicitamos que entre em contato conosco através do
        nosso e-mail
        <a href="mailto:matriculas@colegiosantiago.com.br">matriculas@colegiosantiago.com.br</a>
        , telefone
        <a href="tel:(31) 98821-9096">(31) 98821-9096</a>
        ,
        ou presencialmente no seguinte endereço:
        R. Rio Grande do Sul, 863 - Espírito Santo, Betim - MG, 32671-686.
    </p>
    <p>
        Segue abaixo um detalhamento a respeito das inconsistências:
        <br />
        {{comment}}
    </p>
    <p>
        Atenciosamente,
        <br />
        Equipe Santiago.
    </p>
</div>
